@font-face {
    font-family: "Averta Demo PE";
    src: url("../../fonts/Averta.ttf");
}

@font-face {
    font-family: "AlkesDemo-SemiBold";
    src: url("../../fonts/AlkesDemo-Semibold.ttf");
}

:root {
    --primary-color: #0059ff;
    
    --primary-font: "Alkes", serif;
    --secondary-font: "Averta Bold Italic", sans-serif;
    --tertiary-font: "Averta", sans-serif;

    --statement-bg-img: url("imgs/family.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: "AlkesDemo-SemiBold";
}

html {
    font-size: 62.5%;
}

.item-view-section {
    margin: 10rem auto 0;
}

.item-view-section-container {
    margin: 0 auto 10rem;
}

.item-view-name {
    font-family: "Averta Demo PE";
    font-size: 6rem;
    text-align: center;
    font-weight: bold;
}

.item-view-img-info-container {
    margin: 5rem auto 5rem;
    display: flex;
    padding: 5rem;
}

.item-view-img-container {
    width: 70%;
    border: 0.18rem black solid;
    border-radius: 2rem;
    padding: 3rem;
}

.item-view-img {
    width: 100%;
}

.item-view-info {
    background-color: var(--primary-color);
    margin: 0 3rem;
    width: 30%;
    border-radius: 1rem;
    position: relative;
    height: fit-content;
}

.item-view-price {
    color: white;
    font-size: 8rem;
    font-family: "Averta Demo PE";
    text-align: center;
    margin: 5rem;
}

.item-view-sizes {
    background-color: black;
    width: 100%;
    margin: auto;
    padding: 2rem;
    margin: 0 auto 3rem;
}

.item-view-size {
    color: white;
    width: 12.5%;
    padding: 1rem 0;
    display: inline-block;
    margin: 1rem;
    font-size: 1.75rem;
    text-align: center;
    border-radius: 1rem;
    border: 0.1rem dashed white;
    transition: all 0.5s;
}

.item-view-size:hover {
    background-color: white;
    color: var(--primary-color);
    cursor: pointer;
}

.item-view-quantity  {
    margin: 4rem 3rem;
}

.quantity-chevron {
    margin: auto;
    text-align: center;
    display: block;
    width: 4rem;
    transition: all 0.5s;
}

.quantity-chevron-up {
    transform: rotate(180deg);
}

.quantity-chevron:hover {
    cursor: pointer;
    transform: scale(1.2) translateY(1rem);
    filter: invert(100%);
}

.quantity-chevron-up:hover {
    transform: rotate(180deg) translateY(1rem);
}

.item-view-quantity-tracker {
    text-align: center;
    font-size: 4rem;
    font-family: "Averta Demo PE";
    color: white;
}

.item-view-add-to-cart {
    position: absolute;
    width: 100%;
    bottom: -5rem;
    background-color: transparent;
    border: 0.3rem dashed var(--primary-color);
    font-size: 1.75rem;
    border-radius: 2rem;
    padding: 0.5rem 0;
    color: var(--primary-color);
    transition: all 0.5s;
    font-family: "Averta Demo PE";
}

.item-view-add-to-cart:hover {
    background-color: var(--primary-color);
    color: white;
}