@font-face {
    font-family: "Averta Demo PE";
    src: url("../../fonts/Averta.ttf");
}

@font-face {
    font-family: "AlkesDemo-SemiBold";
    src: url("../../fonts/AlkesDemo-Semibold.ttf");
}

:root {
    --primary-color: #0059ff;
    
    --primary-font: "Alkes", serif;
    --secondary-font: "Averta Bold Italic", sans-serif;
    --tertiary-font: "Averta", sans-serif;

    --statement-bg-img: url("imgs/family.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: "AlkesDemo-SemiBold";
}

html {
    font-size: 62.5%;
}

.shop-items-section {
    margin: 10rem 0 0;
}

.shop-items-section-container {
    margin: auto;
}

.shop-items-section-heading {
    text-align: center;
    font-size: 8rem;
    color: black;
    font-family: "Averta Demo PE";
    margin: 0 0 6rem;
}

.shop-items-hr {
    width: 30%;
    margin: 0 auto 12rem;
}

.items-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.items-row > * {
    display: block;
    margin: 11rem;
    width: 14%;
    outline: 0.1rem black solid;
    outline-offset: 3rem;
}

.items-row > * * {
    font-family: "Averta Demo PE";
}

.item-img {
    width: 100%;
    margin-bottom: 2rem;
}

.item-name {
    font-size: 1.85rem;
    font-weight: bold;
    color: grey;
    margin-bottom: 4rem;
}

.item-price {
    text-align: right;
    font-size: 1.6rem;
    color: black;
}

