@font-face {
    font-family: "Averta Demo PE";
    src: url("../../fonts/Averta.ttf");
}

@font-face {
    font-family: "AlkesDemo-SemiBold";
    src: url("../../fonts/AlkesDemo-Semibold.ttf");
}

:root {
    --primary-color: #0059ff;
    
    --primary-font: "Alkes", serif;
    --secondary-font: "Averta Bold Italic", sans-serif;
    --tertiary-font: "Averta", sans-serif;

    --statement-bg-img: url("imgs/family.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: "AlkesDemo-SemiBold";
}

html {
    font-size: 62.5%;
}

.header-container-1 {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2rem;
    align-items: center;
}

.search-container {
    display: flex;
}

.search-container * {
    height: 3rem;
    margin: auto 0.5rem;
}

.search-bar {
    border-radius: 0.4rem;
    border: 0.1rem solid black;
    width: 30rem;
    padding-left: 2rem;
    font-family: sans-serif;
}

.search-bar:focus {
    border-color: grey;
}

.search-button {
    width: 3rem;
    background: black url("imgs/search-arrow.png") no-repeat center;
    background-size: 50%;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

input[type=search]::-ms-clear {  
    display: none; 
    width : 0; 
    height: 0; 
}
input[type=search]::-ms-reveal { 
    display: none; 
    width : 0; 
    height: 0; 
}
   
   /* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

.search-button:focus {
    background-color: grey;
}

.cart-container {
    width: 3rem;
    position: absolute;
    right: 7rem;
}

.cart {
    width: 100%;
}

.cart-container:focus .cart{
    filter: invert(50%);
}

.header-container-2 {
    display: flex;
    background-color: black;
    padding: 1rem;
    justify-content: center;
    height: 10rem;
    align-items: center;
    position: relative;
    z-index: 100;
}

.sticky {
    top: 0;
    width: 100%;
    position: fixed;
}

.header-logo {
    width: 12rem;
    position: absolute;
    left: 9rem;
    top: -6rem;
    transition: all 0.5s;
}

.header-navigation-link {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: all 0.5s;
}

.header-navigation-link:hover {
    color: white;
    font-style: italic;
    font-size: large;
}

.register-login-container {
    position: absolute;
    right: 5rem;
}

.register-login-button {
    background-color: transparent;
    border: 0.15rem dashed white;
    margin: 1rem;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    transition: all ease-in 0.2s;
}

.register-login-button:hover {
    background-color: white;
    border: 0.2rem solid white;
    color: black;
    cursor: pointer;
}

.header-profile-img-container {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    right: 10rem;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.statement {
    display: flex;
    width: 98%;
    height: 75rem;
    margin: 1.5rem auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--statement-bg-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.statement:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), var(--statement-bg-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.statement div {
    margin: 0 6rem;
}

.statement .big-statement-header {
    color: rgba(255, 255, 255, 0.3);
    font-size: 8rem;
    transition: all 0.5s;
}

.statement:hover .big-statement-header {
    color: white;
    font-size: 10rem;
    transition: all 0.5s;
}

.statement-text {
    text-align: center;
}

.big-statement-header {
    color: white;
    font-size: 10rem;
    font-family: "Averta Demo PE";
}

.recent-info {
    margin-top: 2rem;
}

.info-slide-container {
    width: 100%;
    background-color: blue;
    margin: 2rem 0;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade 1s;
    z-index: -3;
}

.info-slide-container * {
    font-family: "Averta Demo PE";
}

.info-slide-container:nth-of-type(2n) {
    background-color: black;
}

.info-slide-container:nth-of-type(2n) .info-slide-image {
    box-shadow: 2rem 2rem rgba(255, 255, 255, 0.1);
}

.info-slide-container * {
    margin: 0 10rem;
}

.info-slide-image {
    width: 40rem;
    height: 40rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2rem 2rem rgba(0, 0, 0, 0.3);
}

.info-slide-title {
    color: white;
    font-size: 8.5rem;
    width: 40%;
}


@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.statement-link {
    display: block;
    font-size: 2rem;
    margin: 10rem 0 0;
    text-align: center;
}

.statement-link span{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 1rem;
    border: 0.3rem dashed var(--primary-color);
    color: var(--primary-color);
    transition: all 0.5s;
}

.statement-link span:hover {
    background-color: var(--primary-color);
    color: white;
}

footer {
    margin: 5rem 0 0;
}

.footer-top {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5rem 3rem;
    display: flex;
    justify-content: center;
}

.footer-list-info {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4rem 5rem 3rem;
    border-radius: 2rem;
    width: fit-content;
    justify-self: center;
    margin: 0 10rem 0 0;
}

.footer-list-container {
    margin-right: 10rem;
}

.footer-list-header {
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 2rem;
    font-size: 1.9rem;
}

.footer-list li {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 1rem;
    color: white;
    transition: all 0.5s;
}

.footer-list li:hover {
    color: var(--primary-color);
    cursor: pointer;
    font-style: normal;
    font-size: large;
}

.footer-contact {
     background-color: rgba(0, 0, 0, 0.2);
     padding: 5rem;
     justify-content: center;
     display: inline-block;
     border-radius: 2rem;
     width: 20%;
     display: flex;
     flex-direction: column;
}

.footer-contact .footer-list-header {
    text-align: center;
    margin-bottom: 4rem;
}

.contact-images-container{
    margin: auto;
}

.contact-img-container {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 1rem;
    border-radius: 50%;
    filter: invert(100%);
    transition: all 0.5s;
}

.contact-img-container:hover {
    width: 7rem;
    height: 7rem;
    filter: invert(0%);
    cursor: pointer;
}

.footer-bottom {
    background-color: black;
    padding: 3rem;
}

.footer-bottom * {
    text-align: center;
}

.footer-nav a {
    font-size: 1.75rem;
    color: white;
    padding: 0 8rem;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.3);
    transition: all 1s;
}

.footer-nav a:last-of-type {
    border: none;
}

.footer-nav a:hover {
    color: var(--primary-color);
    font-weight: bold;
}

.copyright-container {
    margin: 5rem 0 0;
}

.copyright-container p {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.3rem;
    font-family: "Averta Demo PE";
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
}

@media (max-width: 1380px)
{
    .statement {
        background-size: cover;
    }

    .footer-list-info {
        margin-right: 4rem;
    }

    .contact-img-container {
        display: block;
        margin: 2rem 0;
    }
    
    .info-slide-title {
        font-size: 6rem;
    }
}

@media (max-width: 1150px)
{
    .statement .big-statement-header {
        font-size: 6rem;
    }

    .statement:hover {
        background-size: cover;
    }

    .statement:hover .big-statement-header {
        font-size: 8rem;
    }
    
}

@media (max-width: 1125px)
{
    .footer-list-info {
        display: block;
    }

    .footer-list-container {
        display: flex;
        align-items: baseline;
        margin: 0;
    }

    .footer-list-header {
        margin-right: 2rem;
        width: fit-content;
    }

    .footer-list li {
        display: inline;
        margin: 0 1rem;
    }
    
    .footer-contact {
        justify-content: center;
        padding: 0;
    }

    .footer-contact .footer-list-header {
        margin: auto auto 0;
    }

    .contact-img-container {
        display: inline-block;
        margin: 0 1rem;
    }

    .info-slide-title {
        padding: 0;
    }

    .info-slide-image {
        width: 30rem;
        height: 30rem;
        box-shadow: 0 0 5rem white !important;
        margin-left: 1rem;
    }
}

@media (max-width: 950px) {
    .header-navigation-link {
        font-size: 1.3rem;
        margin: 0 0.5rem;
    }

    .statement {
        height: 60rem;
    }

    .info-slide-container {
        height: 40rem;
    }

    .info-slide-title {
        font-size: 4rem;
    }

    .info-slide-image {
        width: 20rem;
        height: 20rem;
    }

    .statement:hover .big-statement-header {
        font-size: 5rem;
    }

    .footer-top {
        display: block;
    }

    .footer-top div {
        margin: 0 auto 1rem;
    }

    .footer-list-info {
        margin-bottom: 1rem;
    }

    .footer-contact {
        display: flex;
        flex-direction: row;
        padding: 3rem;
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .footer-contact .footer-list-header {
        margin: 0 6rem 0 0;
    }

    .contact-images-container {
        display: inline-block;
        margin: 0 !important;
        padding: 0 !important;
    }

    .contact-img-container {
        display: inline-block;
        margin: 0 1rem;
    }
}

@media (max-width: 900px) {
    .header-navigation-link:nth-last-of-type(4)::after {
        content: "\a";
        white-space: pre;
    }
}

@media (max-width: 775px) {
    .footer-nav a {
        padding: 0 4rem;
    }
    
    .info-slide-image {
        background-size: cover;
    }
}

@media (max-width: 675px) {
    .statement {
        height: 40rem;
    }

    .statement .big-statement-header {
        font-size: 5rem;
    }

    .statement:hover .big-statement-header {
        font-size: 4rem;
    }

    .info-slide-container {
        flex-direction: column;
        padding: 5rem;
        justify-content: center;
        height: fit-content;
    }

    .info-slide-title {
        width: 95%;
        text-align: center;
        margin-bottom: 3rem;
    }

    .info-slide-image {
        margin: 0;
        box-shadow: 0 0 30rem white !important;
        outline: 0.2rem white solid;
        border: 1rem transparent solid;
    }

    .footer-list-info {
        padding: 5rem 5rem 2.5rem;
        justify-content: center;
    }

    .footer-list-container:nth-of-type(2n-1) {
        display: flex;
        flex-direction: column;
        float: left;
        width: 17rem;
        margin-right: 5rem;
    }

    .footer-list-container:nth-of-type(2n) {
        display: flex;
        flex-direction: column;
        margin: 0 0 5rem 0;
    }

    .footer-list-header {
        margin-bottom: 0rem;
    }

    .footer-list {
        margin-top: 1rem;
    }

    .footer-list li {
        display: block;
        margin: 0;
    }

    .cart-container {
        right: 2rem;
    }

    .header-profile-img-container {
        right: 3rem;
    }
}

@media (max-width: 550px) {
    .statement {
        width: 100%;
        margin: 1rem auto;
        height: 30rem;
    }

    .statement .big-statement-header {
        font-size: 3rem;
    }

    .statement:hover .big-statement-header {
        font-size: 3rem;
    }

    .recent-info {
        margin: 0 0 1rem;
    }

    .info-slide-container {
        margin: 0;
    }

    .statement-link {
        margin-top: 5rem;
    }

    footer {
        margin-top: 0;
    }

    .footer-contact .footer-list-header {
        margin-right: 1rem;
    }

    .footer-nav a {
        border: none;
        display: block;
        padding: 0;
        margin: 0 0 0.5rem;
    }

    .header-navigation-link:nth-last-of-type(4)::after {
        white-space: normal;
    }

    .header-navigation {
        width: 15rem;
        display: flex;
        overflow-x: scroll;
        padding-bottom: 1rem;
    }

    .header-navigation-link {
        display: inline;
        white-space: nowrap;
    }

    .header-navigation-link:hover {
        color: white;
        font-size: 1.3rem;
        font-style: normal;
    }

    .register-login-button {
        margin: 0;
    }

    .header-container-2 {
        padding: 0;
    }

    .header-navigation::-webkit-scrollbar {
        height: 0.5rem;
    }
      
    .header-navigation::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, .5);
    }
}