@font-face {
    font-family: "Averta Demo PE";
    src: url("../../fonts/Averta.ttf");
}

@font-face {
    font-family: "AlkesDemo-SemiBold";
    src: url("../../fonts/AlkesDemo-Semibold.ttf");
}

:root {
    --primary-color: #0059ff;
    
    --primary-font: "Alkes", serif;
    --secondary-font: "Averta Bold Italic", sans-serif;
    --tertiary-font: "Averta", sans-serif;

    --statement-bg-img: url("imgs/family.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: "AlkesDemo-SemiBold";
}

html {
    font-size: 62.5%;
}

section {
    margin: 8rem 0 0;
    position: relative;
    height: 100rem;
    overflow: auto;
}

section * {
    position: relative;
}

.cart-heading {
    font-size: 7rem;
    font-family: "Averta Demo PE";
    text-align: center;
    margin: 0 0 3rem;
}

.cart-container {
    width: 90%;
    margin: auto;
}

.cart-items-list {
    background-color: var(--primary-color);
    padding: 3rem;
    border-radius: 1rem;
    width: 70%;
    margin: auto;
}

.cart-item {
    background-color: black;
    margin: 2rem auto;
    border-radius: 2rem;
    display: flex;
    transition: all 0.5s;
    width: 90%;
}

.cart-item:hover {
    transform: scale(1.1);
    margin: 4rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-item * {
    color: white;
    font-family: "Averta Demo PE";
}

.cart-item > * {
    height: 12rem;
    margin: 0 0.5rem;
    min-width: 10rem;
    padding: 1rem;
}

.cart-item-name-type-container {
    width: 50%;
    padding-left: 3rem;
}

.cart-item-categories {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-style: italic;
    letter-spacing: 0.2rem;
}

.cart-item-categories span {
    border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 0 1rem;
}

.cart-item-categories span:first-of-type {
    padding-left: 0;
}

.cart-item-categories span:last-of-type {
    border: none;
}

.cart-item-name {
    font-size: 2.2rem;
}

.cart-item-quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item-quantity {
    font-size: 7rem;
}

.cart-item-price-container {
    display: flex;
    align-items: center;
}

.cart-item-price-total {
    font-size: 3rem;
    margin: auto;
}

.cart-item-img-container {
    width: 20%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    border-radius: 2rem 0 0 2rem;
}


