{% extends 'forum/base.html' %}
{% load static %}

{% block head_title %}Edit {{ post.title }}{% endblock head_title %}

{% block content %}
    <style>
        .post-profile-pic-container {
            width: 3rem;
            height: 3rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .upvote-triangle {
            width: 0.75rem;
        }

        .upvote-triangle:first-of-type {
            transform: scaleX(-1);
        }

        .title-input {
            font-size: 3rem; 
            border: none; 
            border-bottom: 1px solid white;
        }

        .title-input:focus {
            border: none; 
            border-bottom: 1px solid white;
            outline: none;
        }

        .desc-input {
            border: none;
            resize: none;
        }

        .desc-input:focus {
            outline: none;
            border: none;
        }

        .desc-input::-webkit-scrollbar {
            width: 0.3rem;
        }

        .desc-input::-webkit-scrollbar-thumb {
            background-color: blue;
            border-radius: 0.5rem;
        }
    </style>

    <form action="" method="POST"> {% csrf_token %}
        <input type="text" class="bg-transparent mb-4 col-11 title-input" name="title" value="{{ post.title }}" autofocus
        onfocus="this.setSelectionRange(this.value.length,this.value.length);">

        <div class="p-4 px-1">
            <textarea class="bg-transparent p-4 desc-input" style="font-size: larger;" contenteditable="true"
            cols="110" name="description">{{ post.description }}</textarea>
        </div>
        
        <div>
            <button class="btn btn-success mx-2">Save</button>
            <a class="btn btn-secondary mx-2" href="{% url 'post-details' post.id %}">Cancel</a>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $('textarea').each(function () {
            this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
        }).on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    </script>
    

{% endblock content%}