{% extends 'forum/base.html' %}
{% load static %}

{% block head_title %}{{ post.title }}{% endblock head_title %}

{% block content %}
    <style>
        .post-profile-pic-container {
            width: 3rem;
            height: 3rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .reply-profile-pic-container {
            width: 2.5rem;
            height: 2.5rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .upvote-triangle:focus {
            outline: none;
            border: none;
        }

        .upvote-triangle img {
            width: 0.75rem;
        }

        .upvote-triangle:focus img {
            width: 1rem;
        }

        .upvote-triangle:first-of-type {
            transform: scaleX(-1);
        }

        .upvote-triangle:active {
            

        }
    </style>

    <h1 class="mb-5">{{ post.title }}</h1>

    <div class="p-4 px-5">
        <div class="d-flex mb-5" style="align-items: center; padding-right: 5rem;">
            <div style="background-image: url('{{ post.profile.picture_url }}');"
            class="rounded-circle border post-profile-pic-container"></div>
            <span class="mx-4">&bullet;</span>
            {% if post.profile %}
                <a href="{% url 'profile' post.profile.forum_user.id %}">
                    <strong style="font-size: 1.5rem;">{{ post.profile.forum_user.user.username }}</strong>
                </a>
            {% else %}
                <strong>Deleted User</strong>
            {% endif %}
            <div style="margin-left: auto; display: flex; align-items: center;">
                {% if is_logged_in %}
                    <button style="background-color: transparent; border: none;" id="downvote" class="upvote-triangle">
                        <img src="{% static 'images/triangle.png' %}"  >
                    </button>
                {% endif %}
                <strong style="font-size: 2rem;" class="mx-4" id="standing">{{ post.standing }}</strong>
                {% if is_logged_in %}
                    <button style="background-color: transparent; border: none;" id="upvote" class="upvote-triangle">
                        <img src="{% static 'images/triangle.png' %}">
                    </button>
                {% endif %}
            </div>
        </div>
        <p style="font-size: larger;" class="px-5 muted mb-5">{{ post.description }}</p>
        <p><strong class="px-5 small">{{ post.date_posted }}</strong></p>
        <div class="mx-5 my-5">
            <div style="float: right;">
                {% if is_authorized %}
                    <a class="btn btn-primary" href="{% url 'post-update' post.id %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'post-delete' post.id %}">Delete</a>
                {% elif is_logged_in %}
                    <button class="btn btn-info" id="reply">Reply</button>
                {% endif %}
                
            </div>
            <p style="font-size:larger;" >{{ post.num_replies }} replies</p>
        </div>
        <hr class="my-5">
    </div>

    <form style="margin-left: 4rem; display: none;" action="" method="POST" class="mb-5" id="reply-form"> {% csrf_token %}
        {{ reply_form.content }}
        <div>
            <button type="submit" class="btn btn-success mt-4 mx-2">Send</button>
            <button type="submit" class="btn btn-secondary mt-4 mx-2" id="reply-cancel">Cancel</button>
        </div>
    </form>

    <div class="px-5">
        {% for reply in replies %}
            <form action="" class="px-3" method="POST" data-action="som"> {% csrf_token %}
                <div class="d-flex mb-5" style="align-items: center; padding-right: 5rem;">
                    <div style="background-image: url('{{ reply.replier.picture_url }}');"
                    class="rounded-circle border reply-profile-pic-container"></div>
                    <a href="{% url 'profile' reply.replier.forum_user.id %}" style="margin-left: 2rem;"><strong style="font-size: 1.25rem;">{{ reply.replier.forum_user.user.username }}</strong></a>
                    <input type="text" name="id" value="{{ reply.id }}" class="d-none">
                    <span class="mx-4">&bullet;</span>
                    {% if reply.to.profile %}
                        <a href="{% url 'profile' post.profile.forum_user.id %}">
                            <strong style="font-size: 1.25rem;">{{ reply.to.profile.forum_user.user.username }}</strong>
                        </a>
                    {% else %}
                        <strong>Deleted User</strong>
                    {% endif %}
                    <div style="background-image: url('{{ reply.to.profile.picture_url }}'); margin-left: 2rem;"
                    class="rounded-circle border reply-profile-pic-container"></div>
                </div>
                <p class="px-5 muted mb-4 edit-reply-content" name="content">{{ reply.content }}</p>
                <div style="float: right;">
                    {% if req_user == reply.replier.forum_user.user %}
                        <button class="btn btn-primary" id="edit-reply">Edit</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    {% elif is_logged_in %}
                        <button class="btn btn-info" id="reply">Reply</button>
                    {% endif %}
                </div>
                <p><small><strong class="px-5 small">{{ reply.date_replied }}</strong></small></p>
                <hr class="my-5">
            </form>
        {% endfor %}
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(() => {
            var contentVar;
            var standingContent;

            setInterval(() => {
                if (parseInt($("#standing").html()) > 0) {
                    $("#standing").css('color', '#00ff00')
                } else if (parseInt($("#standing").html()) < 0) {
                    $("#standing").css('color', '#ff0000')
                } else {
                    $("#standing").css('color', '#ffffff')
                }
            }, 1)

            $("#reply").click( () => {
                $('#reply-form').show()
            })

            $("#reply-cancel").click( (e) => {
                e.preventDefault()
                $('#reply-form').hide()
            })

            $('#edit-reply').parent().parent().submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "",
                    data: $('#edit-reply').parent().parent().serialize(),
                    success: function(data) {
                        console.log($('#edit-reply').parent().parent().serialize())
                        content = $('#edit-reply').parent().parent().find('.edit-reply-content').first()
                    }  
                })

                window.location.href = ''
            })

            $('#edit-reply').click( (e) => {
                e.preventDefault()
                content = $('#edit-reply').parent().parent().find('.edit-reply-content').first()
                contentVar = content.html()

                if (content.is('textarea')) {
                    $('#edit-reply').parent().parent().submit()
                    content.replaceWith(`<p class="px-5 muted mb-4 edit-reply-content">${contentVar}</p>`) 
                } else {
                    content.replaceWith(`<textarea style="margin-left: 3rem" class="bg-transparent border mb-4 col-9 rounded edit-reply-content" name="reply-content">${content.html()}</textarea>`)
                }
            })

            $('#downvote').on('click', (e) => {
                e.preventDefault()
                is_pos = false;

                $.ajax({
                    type: 'POST',
                    url: window.location + '/vote',
                    data: {
                        is_positive: is_pos,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    dataType: 'json',
                    success: (res) => {
                        $('#standing').html(res.standing)
                    }
                })
            })

            $('#upvote').on('click', (e) => {
                e.preventDefault()
                is_pos = true

                $.ajax({
                    type: 'POST',
                    url: window.location + '/vote',
                    data: {
                        is_positive: is_pos,
                        csrfmiddlewaretoken: '{{csrf_token}}'
                    },
                    dataType: 'json',
                    success: (res) => {
                        $('#standing').html(res.standing)
                    }
                })
            })
        })
        
    </script>

{% endblock content %}